@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Exámen I</h2>
        <p>
            En está aplicacion se puede gestionar el registro de información de diferentes Universidades,
            con sus correspondientes, carreras, profesores, asignaturas y estudiantes.
        </p>
        <p><a class="btn btn-default" href="https://github.com/AndresMatta/">Código Fuente</a></p>
    </div>
</div>